/* Footer Container */
/* Prevent horizontal scrolling on the whole page */
html, body {
    overflow-x: hidden;
}


.footer {
    background-color: black;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    color: white;
    width: 100vw;
    max-width: 100vw; /* Prevents footer from exceeding viewport width */
    box-sizing: border-box;
    overflow: hidden; /* Hide any overflow */
}


/* Footer child elements */
.left-left, .left-middle, .right-middle, .right-right {
    box-sizing: border-box; /* Prevents overflow by including padding and border within width */
}

.left-left-top{
    display: flex;
}

.footer-logo-big{
    width:120px;
    height:120px;
    margin-top: 65px;
}

.shutr-text-logo{
    font-size: 80px;
}

.left-left-middle{
    font-size: 30px;
}

.left-left-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.instagram-logo, .facebook-logo{
    width: 30px;
    height: 30px;
}

.youtube-logo{
    height: 90px;
    width: 90px;
}

.left-middle, .right-middle, .right-right{
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-content: center;

}

.left-middle{
    border-left: 1px solid white;
}

.large-footer-links, h2{
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: white;
}

.smaller-footer-links{
    display: grid;
    color: white;
    font-size: 20px;
    justify-content: center;
}

.footer-nav-link {
    color: white; /* Set the default color of the link */
    text-decoration: none; /* Optional: Remove underline */
}

.footer-nav-link:hover {
    color: white; /* Set the color on hover */
    text-decoration: underline;
    text-decoration-color: white;
}

.footer-nav-link:visited {
    color: white; /* Set the color for visited links */
}

.footer-nav-link:active {
    color: white; /* Set the color for active (clicked) links */
}

/* For active links (when the current route matches) */
.footer-nav-link-active {
    color: white; /* Set the color for active links */
}